<section id="cart_items" >
    <div class="container" style="background: #f2f2f2;">

        <!--/checkout-options-->
        <div class="review-payment">
            <h2>Thanh toán</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Sản phẩm</td>
                    <td class="description"></td>
                    <td class="price">Giá</td>
                    <td class="quantity">Số lượng</td>
                    <td class="total">Thành tiền</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="cart_product">
                        <a href=""><img src="user/images/cart/one.png" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">Váy nữ xinh xắn</a></h4>
                        <p>Mã sản phẩm: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="cart_product">
                        <a href=""><img src="user/images/cart/two.png" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">Váy nữ xinh xắn</a></h4>
                        <p>Mã sản phẩm: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="cart_product">
                        <a href=""><img src="user/images/cart/three.png" alt=""></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">Váy nữ xinh xắn</a></h4>
                        <p>Mã sản phẩm: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                    <td colspan="2">
                        <table class="table table-condensed total-result">
                            <tr>
                                <td>Thành tiền</td>
                                <td>$59</td>
                            </tr>
                            <tr class="shipping-cost">
                                <td>Phí giao hàng</td>
                                <td>Miễn phí</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td><span>$61</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
                <div class="container">
                    <form action="/action_page.php">
                        <div class="row">
                            <div class="col-75">
                                <h3>Địa chỉ:</h3>
                                <label for="fname"><i class="fa fa-user"></i>Họ và tên</label>
                                <input type="number" id="fname" name="firstname" placeholder="Nguyễn Văn A">
                                <label for="email"><i class="fa fa-envelope"></i>Số điện thoại</label>
                                <input type="number" id="email" name="email" placeholder="0321863455">
                                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                <input type="number" id="email" name="email" placeholder="john@example.com">
                                <label for="adr"><i class="fa fa-address-card-o"></i> Địa chỉ</label>
                                <input type="number" id="adr" name="address" placeholder="123 CMT8">
                                <label for="adr"><i class="fa fa-address-card-o"></i> Thành phố</label>
                                <input type="number" id="city" name="city" placeholder="Hồ Chí Minh">
                                <label for="email"><i class="fa fa-envelope"></i>Mã giảm giá</label>
                                <input type="number" id="email" name="email" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 center-block">
                        </div>
                    </form>
                </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a href="#"><button class="btn btn-primary text-center">Thanh toán</button></a>
            </div>
            <div class="col-sm-4"></div><br><br><br><br>
        </div>
    </div>
</section> <!--/#cart_items-->