<div class="container" style="background: #f2f2f2;">
    <div class="col-sm-3">
        <br>
        <br>
        <a href="acount.html" ><button type="submit" style="font-size: 1.2em; font-style: initial; padding: 7px;width: 90%" class="btn-primary"><i class="fa fa-address-book" aria-hidden="true"></i><b> Thông tin cá nhân</b></button> </a>
        <br>
        <br>
        <a href="history.html" ><button  type="submit" style="font-size: 1.2em; font-style: initial; padding: 7px;width: 90%" class="btn-primary" ><i class="fa fa-search"style="size: 30em"> </i> <b> Lịch sử mua hàng </b></button></a>
        <br>
    </div>
    <div class="col-sm-9">
        <br><br>
        <h3 style="align-content: center">Lịch sử mua hàng</h3>
        <br><br>
        <div class="well">

            <h4>Your order status:</h4>

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="prefix">Date created:</span>
                    <span class="label label-success">12.12.2013</span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Last update:</span>
                    <span class="label label-success">12.15.2013</span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Comment:</span>
                    <span class="label label-success">customer's comment goes here</span>
                </li>
            </ul>

            <ol class="progtrckr" data-progtrckr-steps="5">
                <li class="progtrckr-done">Order</li>
                <li class="progtrckr-done">Pre-Production</li>
                <li class="progtrckr-done">In Production</li>
                <li class="progtrckr-todo">Shipped</li>
                <li class="progtrckr-todo">Delivered</li>
            </ol>
        </div>
        <br><br><br><br>
    </div>
</div>
