<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Sản phẩm</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="product.html">Mắt kính</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="product.html">Vest</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="product.html">Mũ nón</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="product.html">Trang sức</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="product.html">Quần áo</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="product.html">Túi xách</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="product.html">Giày</a></h4>
                            </div>
                        </div>
                    </div><!--/category-products-->

                    <div class="brands_products"><!--brands_products-->
                        <h2>Thương hiệu</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="brands.html"> <span class="pull-right">(50)</span>Việt tiến</a></li>
                                <li><a href="brands.html"> <span class="pull-right">(56)</span>Owen</a></li>
                                <li><a href="brands.html"> <span class="pull-right">(27)</span>5 the way</a></li>
                                <li><a href="brands.html"> <span class="pull-right">(32)</span>4Men</a></li>
                                <li><a href="brands.html"> <span class="pull-right">(5)</span>Juno</a></li>
                                <li><a href="brands.html"> <span class="pull-right">(9)</span>BWM</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    <div class="brands_products"><!--brands_products-->
                        <h2>Phân loại</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="catolory.html"> <span class="pull-right">(50)</span>Thời trang nam</a></li>
                                <li><a href="catolory.html"> <span class="pull-right">(56)</span>Thời trang nữ</a></li>
                                <li><a href="catolory.html"> <span class="pull-right">(27)</span>Gia đình</a></li>
                                <li><a href="catolory.html"> <span class="pull-right">(32)</span>Trẻ em</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                    <div class="shipping text-center"><!--shipping-->
                        <img src="user/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Sản phẩm ưa thích</h2>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="user/images/home/product1.jpg" alt="" />
                                    <h2>$56</h2>
                                    <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="user/images/home/product2.jpg" alt="" />
                                    <h2>$56</h2>
                                    <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="user/images/home/product3.jpg" alt="" />
                                    <h2>$56</h2>
                                    <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="user/images/home/product4.jpg" alt="" />
                                    <h2>$56</h2>
                                    <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                </div>
                                <img src="user/images/home/new.png" class="new" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="user/images/home/product5.jpg" alt="" />
                                    <h2>$56</h2>
                                    <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                </div>
                                <img src="user/images/home/sale.png" class="new" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="user/images/home/product6.jpg" alt="" />
                                    <h2>$56</h2>
                                    <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!--features_items-->

                <div class="category-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tshirt" data-toggle="tab">Áo thun</a></li>
                            <li><a href="#blazers" data-toggle="tab">Quần</a></li>
                            <li><a href="#sunglass" data-toggle="tab">Vest</a></li>
                            <li><a href="#kids" data-toggle="tab">Trẻ em</a></li>
                            <li><a href="#poloshirt" data-toggle="tab">Túi xách</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tshirt" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="blazers" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="sunglass" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="kids" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="poloshirt" >
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery2.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery4.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery3.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="user/images/home/gallery1.jpg" alt="" />
                                            <h2>$56</h2>
                                            <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items"><!--recommended_items-->
                    <h2 class="title text-center">Sản phẩm gợi ý</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="user/images/home/recommend1.jpg" alt="" />
                                                <h2>$56</h2>
                                                <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="user/images/home/recommend2.jpg" alt="" />
                                                <h2>$56</h2>
                                                <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="user/images/home/recommend3.jpg" alt="" />
                                                <h2>$56</h2>
                                                <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="user/images/home/recommend1.jpg" alt="" />
                                                <h2>$56</h2>
                                                <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="user/images/home/recommend2.jpg" alt="" />
                                                <h2>$56</h2>
                                                <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="user/images/home/recommend3.jpg" alt="" />
                                                <h2>$56</h2>
                                                <a href="products-detail.html"><p class="linkproduct" >Easy Polo Black Edition</p></a>

                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>