<div style="margin-left: 30%; margin-right: 30%; margin-top: 3%; font-size: large" class="alert alert-success text-center" role="alert"><span><strong>Chi tiết đơn hàng</strong>.</span></div><br><br>

<div class="container col-75">
    <form>
        <div class="form-group">
            <label for="usr">Mã đơn hàng</label>
            <input type="text" class="form-control" id="usr" value="12356">
        </div>
    </form>
</div>

<section id="cart_items" >
    <div class="container col-75" style="background: #f7f6ff">

        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="description"> Tên mặt hàng</td>
                    <td class="price">Giá</td>
                    <td class="quantity">Số lượng</td>
                    <td class="total">Tổng tiền</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="cart_description">
                        <h4><a href="">Colorblock Scuba</a></h4>
                        <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="cart_description">
                        <h4><a href="">Colorblock Scuba</a></h4>
                        <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="cart_description">
                        <h4><a href="">Colorblock Scuba</a></h4>
                        <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>$59</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                            <a class="cart_quantity_down" href=""> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">$59</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="margin-left: 20%">Tổng tiền: </td>
                    <td> 100$</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="container">
    <form>
        <div class="form-group">
            <label for="usr">Ngày đặt</label>
            <input type="date" class="form-control" id="usr" value="2019-01-01">
        </div>
        <div class="form-group">
            <label for="pwd">Người nhận</label>
            <input type="text" class="form-control" id="usr" value="Nguyễn Văn A">
        </div>
        <div class="form-group">
            <label for="pwd">Điện thoại</label>
            <input type="number" class="form-control" id="usr" value="098789878">
        </div>
        <div class="form-group">
            <label for="pwd">Địa chỉ</label>
            <input type="text" class="form-control" id="usr" value="123 CMT8 Tp.Hồ Chí Minh">
        </div>

    </form>
</div>