
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Thống kê top 10&nbsp;</p>
            </div>
            <div class="card-body">
                <div class="row md-1">
                    <div class="col-sm-2"><span>Chọn thời gian</span></div>
                    <div class="col-sm-10"><select class="form-control form-control-sm custom-select custom-select-sm"><option value="Ngày" selected="">Ngày</option><option value="Tuần">Tuần</option><option value="Tháng">Tháng</option><option value="Năm">Năm</option><option value="Quý">Quý</option></select></div>
                </div>
                <div class="row md-1">
                    <div class="col-sm-2"><span>Top 10 theo</span></div>
                    <div class="col-sm-10"><select class="form-control form-control-sm custom-select custom-select-sm"><option value="Gian hàng">Gian hàng</option><option value="Mặt hàng" selected="">Mặt hàng</option></select></div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Gian hàng 1</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Gian hàng 2</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Gian hàng 3</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="table" cellspacing="0">
                            <thead style="background: #E2DEDE">
                            <tr>
                                <th>STT</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Doanh số</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="table" cellspacing="0">
                            <thead style="background: #E2DEDE">
                            <tr>
                                <th>STT</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Doanh số</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <table class="table" cellspacing="0">
                            <thead style="background: #E2DEDE">
                            <tr>
                                <th>STT</th>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Doanh số</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            <tr onclick="window.location='edit-order.html';">
                                <td>1</td>
                                <td>12345</td>
                                <td>Sữa chua</td>
                                <td>$1299</td>
                                <td>12</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
