
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Thống kê top 10&nbsp;</p>
            </div>
            <div class="card-body">
                <div class="row md-1">
                    <div class="col-sm-2"><span>Chọn thời gian</span></div>
                    <div class="col-sm-10"><select class="form-control form-control-sm custom-select custom-select-sm"><option value="Ngày" selected="">Ngày</option><option value="Tuần">Tuần</option><option value="Tháng">Tháng</option><option value="Năm">Năm</option><option value="Quý">Quý</option></select></div>
                </div>
                <div class="row md-1">
                    <div class="col-sm-2"><span>Top 10 theo</span></div>
                    <div class="col-sm-10"><select class="form-control form-control-sm custom-select custom-select-sm"><option value="Gian hàng">Gian hàng</option><option value="Mặt hàng" selected="">Mặt hàng</option></select></div>
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mặt hàng</th>
                            <th>Đơn giá</th>
                            <th>Số lượng bán</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Sữa</td>
                            <td>$162,700</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Váy nữ</td>
                            <td>$132,000<br></td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Áo khoác nam mabu</td>
                            <td>$86,000<br></td>
                            <td>85</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Balo</td>
                            <td>$14,600<br></td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Áo sơ mi nữ</td>
                            <td>$152,700<br></td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Giày nam</td>
                            <td>$199,200<br></td>
                            <td>70</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Giày nam</td>
                            <td>$83,000<br></td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Kính nam</td>
                            <td>$14,600<br></td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Nước hoa nam Gucci</td>
                            <td>$193,200<br></td>
                            <td>55</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Giày  Chanel</td>
                            <td>$134,000<br></td>
                            <td>50</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>