<div style="margin-left: 30%; margin-right: 30%; margin-top: 3%; font-size: large" class="alert alert-success text-center" role="alert"><span><strong>Danh sách khách hàng</strong>.</span></div><br><br>
<div class="container">
    <div class="table-responsive">
        <table class="table" cellspacing="0">
            <thead style="background: #E2DEDE">
            <tr>
                <th>STT</th>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>

                <tr onclick="window.location='edit-user.html';">
                    <td>1</td>
                    <td>acbd</td>
                    <td>********</td>
                    <td>acbd@gmail.com</td>
                </tr>
                <tr onclick="window.location='edit-user.html';">
                    <td>1</td>
                    <td>acbd</td>
                    <td>********</td>
                    <td>acbd@gmail.com</td>
                </tr>
                <tr onclick="window.location='edit-user.html';">
                    <td>1</td>
                    <td>acbd</td>
                    <td>********</td>
                    <td>acbd@gmail.com</td>
                </tr>
                <tr onclick="window.location='edit-user.html';">
                    <td>1</td>
                    <td>acbd</td>
                    <td>********</td>
                    <td>acbd@gmail.com</td>
                </tr>
                <tr onclick="window.location='edit-user.html';">
                    <td>1</td>
                    <td>acbd</td>
                    <td>********</td>
                    <td>acbd@gmail.com</td>
                </tr>
                <tr onclick="window.location='edit-user.html';">
                    <td>1</td>
                    <td>acbd</td>
                    <td>********</td>
                    <td>acbd@gmail.com</td>
                </tr>
                <tr onclick="window.location='edit-user.html';">
                    <td>1</td>
                    <td>acbd</td>
                    <td>********</td>
                    <td>acbd@gmail.com</td>
                </tr>
                <tr onclick="window.location='edit-user.html';">
                    <td>1</td>
                    <td>acbd</td>
                    <td>********</td>
                    <td>acbd@gmail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>