<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> 038999999</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 clearfix">
                    <div class="logo pull-left">
                        <a href="index.html"><img src="user/images/home/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-8 clearfix">
                    <div class="shop-menu clearfix pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="acount.html"><i class="fa fa-user"></i> Tài khoản</a></li>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                            <li><a href="login.html"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                            <li><a href="register.html"><i class="fa fa-registered"></i> Đăng ký</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="index.html" class="active">Trang chủ</a></li>
                            <li class="dropdown"><a>Mua Sắm<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="shop.html">Sản phẩm</a></li>
                                    <li><a href="brands.html">Thương hiệu</a></li>
                                    <li><a href="catolory.html">Phân loại</a></li>

                                </ul>
                            </li>
                            <li class="dropdown"><a>Khách hàng<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="checkout.html">Thanh toán</a></li>
                                    <li><a href="cart.html">Giỏ hàng</a></li>
                                    <li><a href="login.html">Đăng nhập</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search-container">
                        <form action="product.html">
                            <input style="background: #1adeed; padding-top: 3%; padding-bottom: 3%" type="text" placeholder="Tìm kiếm">
                            <a href="product.html"><button style=" background: #1cc88a; padding-top: 1.2%; padding-bottom: 1.3%; padding-left: 4%; padding-right: 4%"><i class="fa fa-search"></i></button></a>
                        </form>
                    </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->