<!DOCTYPE html>
<html lang="en">
<head>
  <%include element/user/headers.ejs%>
  <%include element/user/css.ejs%>
</head>
<!--/head-->

<body>
    <%include element/user/head.ejs%>
    <div style="background: #99ffe6">
      <%-body%>
    </div>
    <%include element/user/footer.ejs%>
    <%include element/user/scripts.ejs%>
  </body>
</html>